.cell-5 {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-10 {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-15 {
    width: 23px;
    height: 23px;
    border: 1px solid black;
    box-sizing: border-box;
}